{% extends 'basic.html' %}

{% block title %}  Login Empresa{% endblock %}
{% block company_login %} active {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
<form method="POST"> 
    {% csrf_token %}
    <div class="container mt-5">
        <h6>Se ainda não possui login, clique aqui        <a href="/company_signup/" type="submit" class="btn" style="background-color: #4f868c; color: white;">Signup</a>

        <div class="mb-3">
            <label for="username" class="form-label"><i style="font-weight: bold;">Usuario</i></label>
            <input type="text" class="form-control" id="username" name="username" placeholder="informe usuario">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label"><i style="font-weight: bold;">Senha</i></label>
            <input type="password" class="form-control" id="password" name="password" placeholder="informe a senha">
        </div>
        <br>
        <input type="submit" value="Submit" class="btn" style="background-color: #4f868c; color: white; font-size: larger; width: 8rem;">

    </div>
</form>
{% endblock %}
{% block js %}
<script>
    {% if alert %}
    alert("Usuario ou senha invalidos!");
    window.location.href = "/company_login"
    {% endif %}
</script>
{% endblock %}
